/** * { margin: 0; padding: 0; } **/
html {margin: 2em;}
body {font-family: 'Noto Sans', serif;
    font-size: 1em; margin: 0 auto;
    margin-left: 3em;
}

a {text-decoration: none;}
a:hover {color: grey;}
nav {text-align: left; position: absolute; width: 100px;
    top: 0;
    padding: 3.2em 1em;
    background: #555;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 9rem;
    text-align: left;
}
nav img{display: block; margin: auto auto 1em auto;}
nav ul {margin: 0; padding: 0}
nav li {list-style: none; text-align: center;
border-bottom: 1px solid #777; padding: .4em;}
nav a{display: block;
    color: #aaa;}
nav a:hover {color: #fafafa;}

.container {position: in-line; line-height: 1.5;
    margin: 0 auto;
    padding: 0 120px;
width: 600px; text-align: justify;}
footer {padding-bottom: 1em;}
p img {margin-right: 1em;}

#fenfisdi {margin: 3em auto 1em auto; padding: 0; border: 0}
h1 {text-align: center}
.download img {vertical-align: top}

.nav-links {
  list-style: none;
  text-align: center;
  margin: 0 auto;
}

.social-net {
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 5px;

}
